/* Write your CSS here */
.cart-summary-container {
  align-self: flex-end;
  font-family: 'Roboto';
  width: 200px;
}

.cart-summary-heading {
  color: #616e7c;
  font-weight: 500;
  font-size: 18px;
}

.total {
  font-size: 21px;
  font-weight: 700;
  color: #171f46;
}

.items-count {
  font-size: 15px;
  color: #616e7c;
  font-weight: 400;
}

.checkout-btn {
  height: 30px;
  width: 200px;
  border: none;
  border-width: 0px;
  background-color: #0b69ff;
  color: #ffffff;
  font-size: 10px;
  border-radius: 4px;
}
